* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Exo 2', sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Exo 2', sans-serif; }

header {
  background: url("http://grodno.greenbelarus.info/files/field/image/3_600.jpg") center/cover no-repeat;
  height: 55vh; }
  @media (min-width: 30rem) {
    header .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  header .main-header .img-logo {
    display: none; }
    @media (min-width: 30rem) {
      header .main-header .img-logo {
        display: contents; } }
    header .main-header .img-logo img {
      padding: 0.5rem;
      cursor: pointer; }
  header .main-header .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem; }
    @media (min-width: 30rem) {
      header .main-header .main-nav {
        margin-right: 2rem; } }
    header .main-header .main-nav .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      @media (min-width: 30rem) {
        header .main-header .main-nav .nav-list {
          flex-direction: row; } }
      header .main-header .main-nav .nav-list .nav-item {
        margin: 0.5rem; }
        header .main-header .main-nav .nav-list .nav-item .nav-item__links {
          text-decoration: none;
          color: #203ac5;
          text-transform: uppercase;
          font-size: 1.4rem;
          letter-spacing: 1px;
          font-weight: 700;
          transition: all 0.1s ease-in-out; }
        header .main-header .main-nav .nav-list .nav-item .nav-item__links:active,
        header .main-header .main-nav .nav-list .nav-item .nav-item__links:hover {
          color: #12051c; }
  header .main-title {
    text-align: center;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (min-width: 30rem) {
      header .main-title {
        margin-top: 15rem; } }
    header .main-title .header-title {
      color: #131362;
      font-weight: 800;
      font-size: 2.5rem;
      padding: 0.5rem; }
      @media (min-width: 30rem) {
        header .main-title .header-title {
          font-size: 3rem; } }
      @media (min-width: 50rem) {
        header .main-title .header-title {
          font-size: 4.2rem; } }
    header .main-title .main-btn {
      color: #ffffff;
      background: #203ac5;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 0.6rem;
      border: none;
      border-radius: 1rem;
      transition: all 0.2s ease-in-out;
      cursor: pointer; }
      @media (min-width: 30rem) {
        header .main-title .main-btn {
          font-size: 1.6rem; } }
      @media (min-width: 50rem) {
        header .main-title .main-btn {
          font-size: 2rem; } }
    header .main-title .main-btn:active,
    header .main-title .main-btn:hover {
      background: #ffffff;
      color: #203ac5; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Exo 2', sans-serif; }

#about {
  margin-top: 3rem; }
  #about .about-title {
    text-align: center;
    font-size: 2.2rem;
    color: #203ac5;
    font-weight: 700; }
  #about .about-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none; }
    @media (min-width: 30rem) {
      #about .about-list {
        flex-direction: row; } }
    #about .about-list .about-list__item {
      text-align: center;
      padding: 1rem;
      margin-bottom: 1rem; }
      #about .about-list .about-list__item .list-num {
        color: #203ac5;
        font-size: 2.5rem;
        font-weight: 800; }
        @media (min-width: 30rem) {
          #about .about-list .about-list__item .list-num {
            font-size: 2.8rem; } }
        @media (min-width: 50rem) {
          #about .about-list .about-list__item .list-num {
            font-size: 3rem; } }
      #about .about-list .about-list__item .list-description {
        font-size: 1.4rem;
        padding: 1rem;
        color: #131362; }
        @media (min-width: 30rem) {
          #about .about-list .about-list__item .list-description {
            font-size: 1.6rem; } }
        @media (min-width: 50rem) {
          #about .about-list .about-list__item .list-description {
            font-size: 2rem; } }

/*# sourceMappingURL=mainScss.css.map */
