* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Exo 2', sans-serif;
}

//  Colors

$main-white-color: #ffffff;
$main-light-color: #f1dcaf;
$main-color: #203ac5;
$main-dark-color: #131362;
$main-dark-color1: #12051c;
$pink-color: #fb6a6a;

//  display flex column
@mixin displayFlexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
