@import './general';

//  Header Section

header {
  background: url('http://grodno.greenbelarus.info/files/field/image/3_600.jpg')
    center/cover no-repeat;
  height: 55vh;

  .main-header {
    .img-logo {
      display: none;
    }
    .main-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      .nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .nav-item {
          margin: 0.5rem;

          .nav-item__links {
            text-decoration: none;
            color: $main-color;
            text-transform: uppercase;
            font-size: 1.4rem;
            letter-spacing: 1px;
            font-weight: 700;
            transition: all 0.1s ease-in-out;
          }
          .nav-item__links:active,
          .nav-item__links:hover {
            color: $main-dark-color1;
          }
        }
      }
    }
  }

  .main-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5rem;

    .header-title {
      color: $main-dark-color;
      font-weight: 800;
      font-size: 3rem;
      margin: 2rem 0;
      padding: 0.5rem;
    }

    .main-btn {
      color: $main-white-color;
      background: $main-color;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 0.6rem;
      border: none;
      border-radius: 1rem;
      transition: all 0.2s ease-in-out;
    }
    .main-btn:active,
    .main-btn:hover {
      background: $main-white-color;
      color: $main-color;
    }
  }
}
